<div class="card">
    <div class="card-header">
       <h4><a class="link" href="/posts/{{post_id}}">{{post_title}}</a></h4>
        <p>Posted by {{user.user_name}} on {{format_date createdAt}}</p>
    </div>
        <p class="card-body">{{post_content}}</p>


</div>


